{{define "subject"}}Seu boleto chegou - ZenFollow{{end}}

{{define "body"}}
<!doctype html>
<html>
  <body>
    <p>Olá {{.Username}},</p>
    <p>Segue o link do seu boleto:</p>
    <p><a href="{{.InvoiceLink}}">{{.InvoiceLink}}</a></p>
    <p>The ZenFollow Team</p>
  </body>
</html>
{{end}}
